.page-title {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 0.35em;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.btn-sign-up {
  width: 100%;
  margin-top: 20px;
}

.auth-active-part-main {
  width: 450px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-cta {
  text-align: center;
  margin-top: 30px;
}
