:root {
  --primary-color: #cf1515;
  --accent-color: #FFB913;
}

.logo {
  max-width: 150px;
  height: 82px;
}

.header-text {
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 0.35em;
  color: #ffffff;
}

a {
  color: #111;
  text-decoration: none;
  cursor: pointer;
}

.steps-container, .steps-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.navigation-list {
  list-style: none;
  padding: 0 20px 0 0;
  margin: 0;
}

.navigation-item > a {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.navigation-item > a.active {
  border-bottom-color: #ffcc00;
}

* {
  box-sizing: border-box;
}

body {
  color: black;
}

.tile {
  box-shadow: none !important;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.ng-invalid.ng-touched {
  border-color: red;
}

.text-danger {
  color: red;
}

.text-primary {
  color: var(--primary-color);
}

scrollbar-y {
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.4);
}
