:root {
  --primary-color: #cf1515;
  --accent-color: #FFB913;
}

.logo {
  max-width: 150px;
  height: 82px;
}

a {
  color: #111;
  text-decoration: none;
  cursor: pointer;
}

.steps-container, .steps-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  color: black;
}

.tile {
  box-shadow: none !important;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.ng-invalid.ng-touched {
  border-color: red;
}

.text-danger {
  color: red;
}

.text-primary {
  color: var(--primary-color);
}

scrollbar-y {
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.4);
}
