<app-loader *ngIf="(isLoginProcessing|async)" @crossfadeLogin></app-loader>

<!-- TODO Make pretty -->
<div class="auth-container" *ngIf="!(isLoginProcessing|async)">
  <main class="auth-active-part">
    <div class="auth-active-part-wrapper">
      <div class="logo-container">
        <img src="assets/logo.svg" alt="Sauron's Sentry" class="logo">
      </div>
      <div class="auth-active-part-main">
        <h1 class="page-title">Вхід</h1>
        <form (ngSubmit)="tryLogin()" #form>
          <div class="form-group">
            <label for="username">Ім'я користувача:</label>
              <input
                type="text"
                [formControl]="username"
                required
                id="username"
                class="form-control"
                placeholder="Ім'я користувача"
              >
          </div>
          <div class="form-group">
            <label for="password">Пароль:</label>
            <input
              type="password"
              [formControl]="password"
              required
              id="password"
              class="form-control"
              placeholder="Пароль"
            >
          </div>
          <button
            type="submit"
            [disabled]="form.invalid"
            class="btn btn-primary btn-sign-in"
          >
            Ввійти
          </button>
          <div class="signup-cta">
            Ще нема облікового запису? <a href="#">Створіть його</a>
          </div>
        </form>
      </div>
    </div>
  </main>
  <aside></aside>
</div>
