<app-loader *ngIf="(isPending|async)" @crossfadeLogin></app-loader>
<ng-container *ngIf="!(isPending|async)">

  <!-- TODO Make pretty -->
  <form (ngSubmit)="tryLogin()" #form>
    <div>
      <input
        type="text"
        [formControl]="username"
        required
      >
    </div>
    <div>
      <input
        type="password"
        [formControl]="password"
        required
      >
    </div>
    <button type="submit" [disabled]="form.invalid">Log In</button>
  </form>

</ng-container>
