<div class="flex flex-column">
  <div class="list-icon-wrapper">
    <div class="list-icon">
      <fa-icon icon="home" size="4x"></fa-icon>
    </div>
  </div>
  <a (click)="onDeselectCampus()" class="header-text cursor-pointer">Корпус</a>

  <div class="list-selected-item navigation-item">
    <span #selectedCampusTitle></span>
  </div>

  <ng-scrollbar>
    <ul class="navigation-list">
      <li *ngFor="let campus of availableForSelectionCampuses|async" class="navigation-item">
        <a (click)="onSelectCampus($event, campus)">{{campus.title}}</a>
      </li>
    </ul>
  </ng-scrollbar>
</div>
