<div class="flex flex-column">
  <div class="selection-list-icon-wrapper">
    <div class="selection-list-icon">
      <fa-icon icon="home" size="4x"></fa-icon>
    </div>
  </div>

  <a (click)="onDeselectCampus()" class="selection-list-title">Корпус</a>

  <div class="selection-list-element selection-list-selected-item">
    <span #selectedCampusTitle></span>
  </div>

  <ng-scrollbar class="selection-list-scroll">
    <ul class="selection-list">
      <li *ngFor="let campus of availableForSelectionCampuses|async" class="selection-list-element">
        <a (click)="onSelectCampus($event, campus)">{{campus.title}}</a>
      </li>
    </ul>
  </ng-scrollbar>
</div>
