<div class="flex flex-column">
  <a class="header-text cursor-pointer" (click)="onDeselectFloor()">Поверх</a>

  <div class="list-selected-item">
    <h2>
      Обраний поверх:
      <br>
    </h2>
    <div>
      <span #selectedFloorTitle></span>
      <fa-icon (click)="onDeselectFloor()"
               *ngIf="selectedFloor !== null"
               icon="times"
               class="cursor-pointer"
      ></fa-icon>
    </div>
  </div>

  <ng-scrollbar>
    <ul class="navigation-list">
      <li *ngFor="let floor of availableForSelectionFloors|async" class="selection-list-element">
        <a (click)="onSelectFloor($event, floor)">{{floor.title}}</a>
      </li>
    </ul>
  </ng-scrollbar>
</div>
