<div class="flex flex-column">
  <div class="selection-list-icon-wrapper">
    <div class="selection-list-icon">
      <fa-icon icon="layer-group" size="4x"></fa-icon>
    </div>
  </div>

  <a (click)="onDeselectFloor()" class="selection-list-title">Поверх</a>

  <div class="selection-list-element selection-list-selected-item">
    <span #selectedFloorTitle></span>
  </div>

  <ng-scrollbar class="selection-list-scroll">
    <ul class="selection-list">
      <li *ngFor="let floor of availableForSelectionFloors|async" class="selection-list-element">
        <a (click)="onSelectFloor($event, floor)">{{floor.title}}</a>
      </li>
    </ul>
  </ng-scrollbar>
</div>
