<div class="flex flex-column">
  <div class="selection-list-icon-wrapper">
    <div class="selection-list-icon">
      <fa-icon icon="th" size="4x"></fa-icon>
    </div>
  </div>

  <a (click)="onDeselectRoom()" class="selection-list-title">Приміщення</a>

  <div class="selection-list-element selection-list-selected-item">
    <span #selectedRoomTitle></span>
  </div>

  <ng-scrollbar class="selection-list-scroll">
    <ul class="selection-list">
      <li *ngFor="let room of availableForSelectionRooms|async" class="selection-list-element">
        <a (click)="onSelectRoom($event, room)">{{room.title}}</a>
      </li>
    </ul>
  </ng-scrollbar>
</div>
