<div class="flex flex-column">
  <a (click)="onDeselectCampus()" class="header-text cursor-pointer">Корпус</a>

  <div class="list-selected-item">
    <h2>
      Обраний корпус:
      <br>
    </h2>
    <div>
      <span #selectedCampusTitle></span>
      <fa-icon (click)="onDeselectCampus()"
               *ngIf="selectedCampus !== null"
               icon="times"
               class="cursor-pointer"
      >
      </fa-icon>
    </div>
  </div>

  <ng-scrollbar>
    <ul class="navigation-list">
      <li *ngFor="let campus of campuses|async" class="navigation-item">
        <a (click)="onSelectCampus($event, campus)">{{campus.title}}</a>
      </li>
    </ul>
  </ng-scrollbar>
</div>
