<div class="logo-container">
  <img src="assets/logo.svg" alt="Sauron's Sentry" class="logo">
</div>
<div class="auth-active-part-main">
  <h1 class="page-title">Вхід</h1>
  <form (ngSubmit)="tryLogin()" [formGroup]="loginForm">
    <div class="form-group">
      <label for="username">Ім'я користувача:</label>
      <input
        type="text"
        formControlName="username"
        required
        id="username"
        class="form-control"
        placeholder="Ім'я користувача"
      >
      <div *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched"
           class="text-danger">
        Ім'я користувача є обов'язковим!
      </div>
    </div>
    <div class="form-group">
      <label for="password">Пароль:</label>
      <input
        type="password"
        formControlName="password"
        required
        id="password"
        class="form-control"
        placeholder="Пароль"
      >
      <div *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched"
           class="text-danger">
        Пароль є обов'язковим!
      </div>
    </div>
    <button
      type="submit"
      [disabled]="loginForm.invalid"
      class="btn btn-primary btn-sign-in"
    >
      Ввійти
    </button>
    <div class="login-cta">
      Ще нема облікового запису? <a
      [routerLink]="[
            '../',
            'sign-up'
            ]"
      class="text-primary"
    >Створіть його</a>
    </div>
  </form>
</div>
