:host {
  border-left: 5px solid #00c853;
  border-radius: 5px;
  padding: 20px 10px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.success-icon {
  color: #00c853;
  margin-right: 10px;
}
