.steps-container,
.steps-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.steps-container {
  max-height: 100vh;
  height: 100vh;
}

.steps-nav {
  position: relative;
}

.selection-lists-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(150deg, #e52d27, #8d0e12);
}
